<html>
<body>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <div class="jumbotron">

      @if (@Model.Count == 0)
      {

      }

      @foreach (var word in Model)
      {


      @if (@word == null)
      {

      }
      else if (@word.IsValidInput() == "")
      {

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          @word.GetUserWord()
          <span class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          @word.GetUserSentence()
          <span class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Word appears in sentence
          <span class="badge badge-primary badge-pill">@word.CountWords()</span>
        </li>
      </ul><br>
      <div class="row">
        <button type="button" class="btn btn-light btn-sm"><a href='/wordgame/@word.GetId()/delete'>Delete</a></button>
        <button type="button" class="btn btn-light btn-sm"><a href='/wordgame'>New game</a></button>
        <button type="button" class="btn btn-light btn-sm"><a href='/'>Back home</a></button>
      </div>
      <br>
      }
      else
      {
      <p>Please enter only letters!</p>
      }
      }



</body>
</html
